{% extends "base.html" %}

{% block title %}TMW{% endblock %}

{% block content %}
<div>
  <form method="POST">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addProjectModal">Add Projects</button>
  </form>
</div>

<!-- Add Project Modal -->
<div class="modal" tabindex="-1" role="dialog" id="addProjectModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" id="addProjectForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" name="project_name" id="projectName" required>
          </div>
          <div class="form-group">
            <label for="projectDescription">Project Description</label>
            <textarea class="form-control" name="project_description" id="projectDescription" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="add_project">Add Project</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Dropdown to Select Project -->
<div style="margin-top: 20px;">
  <form method="POST">
    <div class="form-group">
      <label for="selectProject">Select Project</label>
      <select class="form-control" id="selectProject" name="selected_project_id">
        {% for project in projects %}
        <option value="{{ project.id }}" {% if selected_project and project.id == selected_project.id %}selected{% endif %}>{{ project.name }}</option>
        {% endfor %}
        {% for shared_project in shared_projects %}
        <option value="{{ shared_project.project_id }}" {% if selected_project and shared_project.project_id  == selected_project.id %}selected{% endif %}>{{ shared_project.project_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" name="select_project">Select Project</button>
  </form>
</div>

<!-- Dropdown to Select Shared Project -->
<div style="margin-top: 20px;">
  <form method="POST">
    <div class="form-group">
      <label for="selectProject">Select Project</label>
      <select class="form-control" id="selectProject" name="selected_project_id">
        {% for shared_project in shared_projects %}
        <option value="{{ shared_project.project_id }}" {% if selected_project and shared_project.project_id  == selected_project.id %}selected{% endif %}>{{ shared_project.project_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" name="select_shared_project">Select Project</button>
  </form>
</div>


{% endblock %}
